 * {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Arial Black, Roboto, Helvetica, Arial, sans-serif;
    font-size: 17px;
}

 window#waybar {
/*      background-color: rgba(43, 48, 59, 0.5); */
    background-color: #282a36;
    border: 1px solid #c0c0c0;
    color: #c0c0c0;
    transition-property: background-color;
    transition-duration: .5s;
    padding: 3px 5px 3px 5px;
 }


window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#workspaces button {
    font-size: 14;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: transparent;
    color: #c0c0c0;
    box-shadow: inset 0 -3px transparent;
    border-radius: 0;
    margin-top: 3px;
    margin-left: -15px;
    margin-right: 15px;
    margin-bottom: 3px;
    border: 2px solid #000000;
}

#workspaces button:hover {
/*    background: rgba(0, 0, 0, 0.2);*/
    box-shadow: inset 0 -4px #a422a8;
    color: #ffffff;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 4px;
    padding-right: 4px;
}

#workspaces button.focused {
/*    background-color: #64727D;*/
    background-color: #a422a8;
    box-shadow: inset 0 -3px #ffffff;
    color: #ffffff;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 3px;
    margin-left: -15px;
    margin-right: 15px;
    margin-bottom: 3px;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    font-size: 15;
    padding: 5px 5px;
    color: #FFFFFF;
    margin: 4px;
    border: 4px solid #000000;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 20px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

    custom-clock {
    background-color: #999897;
    color: #000000;
}

#battery {
    background-color: #ffffff;
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
    margin-right: 0px;

}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#disk {
    background-color: #964B00;
    margin-right: 0px;
}

#network {
    background-color: #2980b9;
    margin-right: 0px;
}

#network.disconnected {
    background-color: #f53c3c;
    margin-right: 0px;
}

#pulseaudio {
    background-color: #f1c40f;
    color: #000000;
    margin-right: 0px;

}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#tray {
    background-color: #a422a8;
    margin-right: 3px;
    margin-left: 0px;
    padding: 2px 6px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
    margin-right: 0px;
}

#idle_inhibitor.activated {
    background-color: #f3a6f5;
    color: #2d3436;
    margin-right: 0px;
}
